body {
  background: #000000 url("../images/background.jpg") no-repeat fixed center;
  color: #FFFFFF;
  font-family: "Tahoma";
  overflow-y: hidden;
}

header {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}
